export PYFROST_PRIVATE=0x111
export PYFROST_NODE_ID=1
export ZEX_HOST=127.0.0.1
export ZEX_PORT=8000
export ZSEQ_HOST=127.0.0.1
export ZSEQ_PORT=6000
# export LIGHT_NODE=1 # uncomment to run as light node
# export ZEX_STATE_SOURCE="http://127.0.0.1:8001/zex_state.pb"
export ZEX_STATE_DEST="zex_state.pb"
export ZEX_BTC_PUBLIC_KEY="0290ab36a28c3107d0091e8ea731e3c528046e317f854ed7b35f746d4e3484b1b3"
export ZEX_MONERO_PUBLIC_ADDRESS="547n68SvdN4KnGYFyk5X8a7n9jyFp8ZvwN2eJxbwAm2P9pCXPYPmKnHXc4Ms7ZDqiMAa6jfDECeF4hNxYpG8pAzpHTtnpQb"
export ZEX_ETHERSCAN_API_KEY="api key"

# Used in TEST_MODE to replace zsequencer with a central redis database
export USE_REDIS=1
export REDIS_URL="104.194.145.26:6379"
