zex:
  host: "127.0.0.1"
  port: 15782
  api_prefix: "/v1"
  light_node: false
  state_source: https://zex.zellular.xyz/api/state/zex_state.pb
  state_dest: zex_state.pb
  state_save_frequency: 500
  mainnet: true
  use_redis: true
  verbose: true

  keys:
    deposit_public_key: 250142863524534572665877007128114459439059698865189013966065255430287615531517
    btc_deposit_public_key: 033452c6fa7b1ac52c14bb4ed4b592ffafdae5f2dba7f360435fd9c71428029c71
    btc_public_key: 0290ab36a28c3107d0091e8ea731e3c528046e317f854ed7b35f746d4e3484b1b3

  deployer_address: "0xFb12003d74EFfC9Af9a47E3bfbcCF4816D01514a"
  byte_code_hash: "0xa59220054189819a8b499ce1ddd3119eecd15da7e4e7fe9da26e296aa649f162"

  redis:
    url: <ip>:<port>
    password: <password>

  deposited_block:
    BTC: 871937
    POL: 64918360
    BSC: 44468830
    OPT: 128693930

  usdt_mainnet: "POL:1"

  default_tokens_decimal:
    BTC:
      "0x0000000000000000000000000000000000000000": 8
    POL:
      "0xc2132D05D31c914a87C6611C10748AEb04B58e8F": 6
      "0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359": 6
      "0x1BFD67037B42Cf73acF2047067bd4F2C47D9BfD6": 8
      "0x53E0bca35eC356BD5ddDFebbD1Fc0fD03FaBad39": 18
    BSC:
      "0x55d398326f99059fF775485246999027B3197955": 6
      "0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d": 6
      "0x0555E30da8f98308EdB960aa94C0Db47230d2B9c": 8
      "0xF8A0BF9cF54Bb92F17374d9e9A321E6a111a51bD": 18
    OPT:
      "0x94b008aA00579c1307B0EF2c499aD98a8ce58e58": 6
      "0x0b2C639c533813f4Aa9D7837CAf62653d097Ff85": 6
      "0x68f180fcCe6836688e9084f035309E29Bf0A2095": 8
      "0x350a791Bfc2C21F9Ed5d10980Dad2e2638ffa7f6": 18

  verified_tokens_id:
    BTC:
      "0x0000000000000000000000000000000000000000": 1
    POL:
      "0xc2132D05D31c914a87C6611C10748AEb04B58e8F": 1
      "0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359": 2
      "0x1BFD67037B42Cf73acF2047067bd4F2C47D9BfD6": 3
      "0x53E0bca35eC356BD5ddDFebbD1Fc0fD03FaBad39": 4
    BSC:
      "0x55d398326f99059fF775485246999027B3197955": 1
      "0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d": 2
      "0x0555E30da8f98308EdB960aa94C0Db47230d2B9c": 3
      "0xF8A0BF9cF54Bb92F17374d9e9A321E6a111a51bD": 4
    OPT:
      "0x94b008aA00579c1307B0EF2c499aD98a8ce58e58": 1
      "0x0b2C639c533813f4Aa9D7837CAf62653d097Ff85": 2
      "0x68f180fcCe6836688e9084f035309E29Bf0A2095": 3
      "0x350a791Bfc2C21F9Ed5d10980Dad2e2638ffa7f6": 4
