zex:
  host: "0.0.0.0" # optional
  port: 15782 # optional
  api_prefix: "/v1"
  light_node: false
  state_source: "http://state-manager/zex_state.pb"
  state_dest: zex_state.pb
  state_save_frequency: 100
  state_manager: http://state-manager/v1
  # state_manager: http://127.0.0.1:15783/v1
  event_distributor: http://event-distributor/v1
  # event_distributor: http://127.0.0.1:15784/v1
  sequencer_subgraph: https://api.studio.thegraph.com/query/96758/zex-avs/v0.0.2
  sequencer_whitelist: https://api.zex.finance/sequencer-whitelist.json
  tx_transmit_delay: 0.2
  mainnet: false

  verbose: true
  log_to_file: true
  log_directory: logs
  log_rotation_size_in_mb: "100"
  log_retention_time_in_week: "1"
  sentry_dsn: ""

  sequencer_mode: "local" # "local", "eigenlayer", "docker"
  verifier_threads: 2

  dummy:
    fill_dummy: true
    client_private: 31a84594060e103f5a63eb742bd46cf5f5900d8406e2726dedfc61c7cf43eba0
    bot_private_seed: 31a84594060e103f5a63eb742bd46cf5f5900d8406e2726dedfc61c7cf43ebac

  keys:
    deposit_public_key: 382892429471464219867747969662311867114742460359035433268305162405387427562199
    deposit_shield_address: "0xFB6E059Cc3F3E8029A2b25fE1fb1d952572f4181"
    btc_public_key: 02a4213b385f231a7f34bdfc9fd78ca3b4b6fe83f9a6d54998b98c92724d45ac8f

  deployer_address: "0xa16aF858AEfE32994dAcdb640683a66FDcCB9569"
  byte_code_hash: "0x972b0e0eafa2adb02ebf7b1a35917a9114211a8e393a2ac373b8af263225f0f8"

  chains:
    - BTC
    - HOL
    - SEP
    - BST

  usdt_mainnet: "zUSDT"

  verified_tokens:
    zUSDT:
      HOL:
        contract_address: "0x325CCd77e71Ac296892ed5C63bA428700ec0f868"
        balance_withdraw_limit: 0.01
        decimal: 6
      SEP:
        contract_address: "0x325CCd77e71Ac296892ed5C63bA428700ec0f868"
        balance_withdraw_limit: 0.01
        decimal: 6
      BST:
        contract_address: "0x325CCd77e71Ac296892ed5C63bA428700ec0f868"
        balance_withdraw_limit: 0.01
        decimal: 6
    zEIGEN:
      HOL:
        contract_address: "0x219f1708400bE5b8cC47A56ed2f18536F5Da7EF4"
        balance_withdraw_limit: 0.001
        decimal: 18
      SEP:
        contract_address: "0x219f1708400bE5b8cC47A56ed2f18536F5Da7EF4"
        balance_withdraw_limit: 0.001
        decimal: 18
      BST:
        contract_address: "0x219f1708400bE5b8cC47A56ed2f18536F5Da7EF4"
        balance_withdraw_limit: 0.001
        decimal: 18
    zWBTC:
      HOL:
        contract_address: "0x9d84f6e4D734c33C2B6e7a5211780499A71aEf6A"
        balance_withdraw_limit: 0.000001
        decimal: 8
      SEP:
        contract_address: "0x9d84f6e4D734c33C2B6e7a5211780499A71aEf6A"
        balance_withdraw_limit: 0.000001
        decimal: 8
      BST:
        contract_address: "0x9d84f6e4D734c33C2B6e7a5211780499A71aEf6A"
        balance_withdraw_limit: 0.000001
        decimal: 8
    BTC:
      BTC:
        contract_address: "0x0000000000000000000000000000000000000000"
        balance_withdraw_limit: 0.000001
        decimal: 8
    ETH:
      HOL:
        contract_address: "0x0000000000000000000000000000000000000000"
        balance_withdraw_limit: 0.000001
        decimal: 18
      SEP:
        contract_address: "0x0000000000000000000000000000000000000000"
        balance_withdraw_limit: 0.000001
        decimal: 18
    BNB:
      BST:
        contract_address: "0x0000000000000000000000000000000000000000"
        balance_withdraw_limit: 0.0001
        decimal: 18
