zex:
  host: "127.0.0.1"
  port: 15782
  api_prefix: "/v1"
  light_node: false
  state_source: https://zex.zellular.xyz/api/state/zex_state.pb
  state_dest: zex_state.pb
  state_save_frequency: 500
  mainnet: true
  use_redis: true
  verbose: true

  keys:
    deposit_public_key: 250142863524534572665877007128114459439059698865189013966065255430287615531517
    btc_xmr_deposit_public_key: 033452c6fa7b1ac52c14bb4ed4b592ffafdae5f2dba7f360435fd9c71428029c71
    btc_public_key: 0290ab36a28c3107d0091e8ea731e3c528046e317f854ed7b35f746d4e3484b1b3
    monero_public_address: 4AEKMFzEC1TBLXk7tn8iyWhHTEfZqKZKg1JAVi6BtLmSAhKLeJuFmAseTa1HoG6cW7LHSSreeno5TYCZtHrLnBSEC7TTP6W

  deployer_address: "0x6ca7860A5653943025a66AD6e4Cbe6fad47dE62a"
  byte_code_hash: "0x9f07a4789f0b30d80155f536d9d169f0ae43a59511c5d5859a1e1dbaf417a42a"

  redis:
    url: <ip>:<port>
    password: <password>

  deposited_block:
    BTC: 871937
    XMR: 3289237
    POL: 64547118
    BSC: 44324006
    ARB: 278220015

  default_tokens_decimal:
    BTC:
      "0x0000000000000000000000000000000000000000": 8
    XMR:
      "0x0000000000000000000000000000000000000000": 12
    POL:
      "0xc2132D05D31c914a87C6611C10748AEb04B58e8F": 6
      "0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359": 6
      "0x1BFD67037B42Cf73acF2047067bd4F2C47D9BfD6": 8
      "0x53E0bca35eC356BD5ddDFebbD1Fc0fD03FaBad39": 18
    BSC:
      "0x55d398326f99059fF775485246999027B3197955": 6
      "0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d": 6
      "0x0555E30da8f98308EdB960aa94C0Db47230d2B9c": 8
      "0xF8A0BF9cF54Bb92F17374d9e9A321E6a111a51bD": 18
    ARB:
      "0xFd086bC7CD5C481DCC9C85ebE478A1C0b69FCbb9": 6
      "0xaf88d065e77c8cC2239327C5EDb3A432268e5831": 6
      "0x2f2a2543B76A4166549F7aaB2e75Bef0aefC5B0f": 8
      "0xf97f4df75117a78c1A5a0DBb814Af92458539FB4": 18

  verified_tokens_id:
    BTC:
      "0x0000000000000000000000000000000000000000": 1
    XMR:
      "0x0000000000000000000000000000000000000000": 1
    POL:
      "0xc2132D05D31c914a87C6611C10748AEb04B58e8F": 1
      "0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359": 2
      "0x1BFD67037B42Cf73acF2047067bd4F2C47D9BfD6": 3
      "0x53E0bca35eC356BD5ddDFebbD1Fc0fD03FaBad39": 4
    BSC:
      "0x55d398326f99059fF775485246999027B3197955": 1
      "0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d": 2
      "0x0555E30da8f98308EdB960aa94C0Db47230d2B9c": 3
      "0xF8A0BF9cF54Bb92F17374d9e9A321E6a111a51bD": 4
    ARB:
      "0xFd086bC7CD5C481DCC9C85ebE478A1C0b69FCbb9": 1
      "0xaf88d065e77c8cC2239327C5EDb3A432268e5831": 2
      "0x2f2a2543B76A4166549F7aaB2e75Bef0aefC5B0f": 3
      "0xf97f4df75117a78c1A5a0DBb814Af92458539FB4": 4
