services:
  zex:
    image: zex:dev
    container_name: zex-dev
    volumes:
      - ./config.yaml:/config.yaml
      - ./init_db.sql:/app/init_db.sql
      - ./zex_state.pb:/app/zex_state.pb
      - logs:/app/logs

    ports:
      - 15782:80
    environment:
      - LOG_DIR=/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"
    networks:
      - zex
    depends_on:
      - zex-state

  zex-state:
    image: codeskyblue/gohttpserver
    container_name: zex-state
    command: --xheaders --addr :80
    expose:
      - 80
    volumes:
      - ./zex_state.pb:/app/public/zex_state.pb:ro
    ports:
      - 15785:80
    networks:
      - zex

  log-viewer:
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "8080:8080"
    networks:
      - zex

volumes:
  logs:
  db1:
  db2:
  db3:

networks:
  zex:
    external: true
