export HOST=127.0.0.1
export PORT=8000
export BLS_PRIVATE=123abc
export ZEX_STATE_DEST="zex_state.pb"
export ZEX_BTC_PUBLIC_KEY="0290ab36a28c3107d0091e8ea731e3c528046e317f854ed7b35f746d4e3484b1b3"
export ZEX_MONERO_PUBLIC_ADDRESS="9u3EGtwDbKcY6J7LQvGjvSP25YLkButPVXfkv7fFn7spR8ajhQZy7SyXAvBhveVaxofGiuTZEk8PkPwRhs8Dpv6dS2xX6h4"